.navbar {
  letter-spacing: 2px;

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar-collapse {
    text-align: center;

    .nav > li > a {
      width: 110px;

      &:hover, &focus {
        font-weight: bold;
        background-color: inherit;
      }
    }
  }
}
