body {
  background-color: #e7e7e7;
  color: #333;
  font-family: $zh-default-font;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
