@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$microsoft-jheng-hei: \5FAE\8EDF\6B63\9ED1\9AD4;
$us-default-font: 'Roboto';
$zh-default-font: $us-default-font, $microsoft-jheng-hei,
                  "PingFangTC-Light", "Lantinghei TC", "Helvetica Neue",
                  Helvetica, "Microsoft Yahei","Hiragino Sans GB", sans-serif;
