---
title: minimum x template
---

<div class="wrapper">
  <div class="title-show">
    <h1>Hello, world!</h1>
    <h3>Lorem ipsum | dolor sit amet</h3>
    <p><i class="ion-md-heart" style="font-size:22px"></i></p>
    <p><i class="ion-ios-heart"></i></p>

    <p><i class="ion-md-heart-dislike"></i></p>
    <p><i class="ion-ios-heart-dislike"></i></p>


    <p><i class="ion-md-cellular"></i></p>
    <p><i class="ion-ios-cellular"></i></p>

    <p><i class="ion-logo-facebook"></i></p>
    <p><i class="ion-logo-windows"></i></p>
    <p><i class="fas fa-user"></i> <!-- uses solid style --></p>
    <p><i class="far fa-user"></i> <!-- uses regular style --></p>
    <p><i class="fab fa-github-square"></i> <!-- uses brands style --></p>
  </div>

</div>
