---
title: minimum x template
---

<div class="wrapper">
  <div class="title-show">
    <h1>Hello, world!</h1>
    <h3>Lorem ipsum | dolor sit amet</h3>
    <p><ion-icon name="ios-heart"></ion-icon></p>
    <p><ion-icon name="md-heart"></ion-icon></p>
    <p><i class="fas fa-user"></i> <!-- uses solid style --></p>
    <p><i class="far fa-user"></i> <!-- uses regular style --></p>
    <p><i class="fab fa-github-square"></i> <!-- uses brands style --></p>
  </div>

</div>
